$cor-branca: #fff;
$cor-branca-gelo: #f3f5f8;
$cor-cinza-claro: #4b5563;
$cor-cinza-escuro: #000000;
$cor-cinza-mais-claro: #6b7280;
$cor-verde-escuro: #16a34a;
$cor-verde-claro: #21c05c;
$cor-azul: #2563eb;
$cor-azul-escuro: #1f2937;
