@import "palette";

:root {
  --bg-box: #{$cor-azul-escuro};
  --bg: #{$cor-branca-gelo};
  --subtitle: #{$cor-cinza-claro};
  --link: #{$cor-cinza-claro};
  --title: #{$cor-cinza-escuro};
  --title2: #{$cor-verde-escuro};
  --title3: #{$cor-azul};
  --title4: #{$cor-cinza-mais-claro};
  --btn-txt-branco: #{$cor-branca};
  --btn-txt-azul: #{$cor-azul};
  --btn-txt-verde: #{$cor-verde-claro};
  --btn-escuro: #{$cor-verde-escuro};
  --btn-claro: #{$cor-verde-claro};
  --btn-transparente: #{$cor-branca};
  --circule-number-donors: #{$cor-verde-escuro};
  --circule-number-acquirers: #{$cor-azul};
}

//Estilização geral
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: var(--title);
}
p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--subtitle);
}

h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

h3 {
  font-size: 15px;
  color: var(--title);
  font-weight: normal;
}
h4 {
  font-size: 20px;
  font-weight: normal;
}
h5 {
  font-size: 14px;
  font-weight: normal;
  color: var(--title4);
}

.btn-green {
  border-radius: 6px;
  color: var(--btn-txt-branco);
}
.btn-transparent {
  background-color: var(--btn);
  border-radius: 6px;
  color: var(--btn-txt-azul);
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--link);
}

.text-bold {
  font-weight: bold;
}

// ===============================================
//Estilização MOBILE
// ===============================================

//Estilização da header
header {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem 2rem 0rem 2rem;
  gap: 1rem;
  position: relative;

  .logo {
    width: 50vw;
  }

  .nav-primary-elements {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0px;
  }

  .btn-green {
    background-color: var(--btn-claro);
    padding: 0.5rem 0.5rem;
  }
}

header::before {
  content: "";
  border-bottom: solid 1px #b4aeae;
  position: absolute;
  width: 100%;
  height: 17px;
  top: 5.4rem;
}

//Estilização do primeiro article
.first-article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 1.5rem;
  gap: 2.5rem;

  .article-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .article-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .btn-green {
      display: flex;
      background-color: var(--btn-escuro);
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 0.5rem;
      width: 100%;
      color: var(--btn-txt-branco);
    }
    .btn-transparent {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 0.5rem;
      width: 100%;
      border: solid 1px #2563eb;
      color: var(--btn-txt-azul);
    }
  }

  img {
    max-width: 100%;
  }
}

.collected-data {
  background-color: var(--bg);
  padding: 1.5rem;
  text-align: center;

  .datas {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    h2 {
      color: var(--title2);
    }
  }
}

.second-article {
  padding: 3rem;
  text-align: center;

  .tutorial-steps {
    background-color: var(--bg);
    text-align: start;
    padding: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .donors {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      color: var(--title2);

      img {
        width: 9vw;
      }
    }

    li {
      display: flex;
      gap: 0.8rem;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }

    .acquirers {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      color: var(--title3);

      img {
        width: 9vw;
      }
    }
  }
}

.third-article {
  background-color: var(--bg);
  padding: 2rem;
  text-align: center;

  h3 {
    margin: 1rem 0 2rem 0;
  }

  .categories-types {
    border: solid 2px var(--circule-number-donors);
    border-radius: 6px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .description {
      padding: 0 2.5rem;
      h4 {
        margin-bottom: 1rem;
      }
    }

    .btn-green {
      background-color: var(--btn-escuro);
      align-self: center;
      padding: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.fourth-article {
  padding: 2rem;
  text-align: center;

  h3 {
    margin: 1rem 0 2rem 0;
  }

  .avaliations-cards {
    text-align: start;
    padding: 2rem;
    border: solid 1px;
    border-left: solid 4px #9ca3af;
    border-radius: 6px;
    margin: 3rem 0;

    blockquote {
      margin: 1rem 0 2rem 0;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
      img {
        width: 9vw;
      }
    }

    .nome {
      color: var(--title);
    }
  }
}

.fifth-article {
  background-color: var(--bg);
  text-align: center;
  padding: 4rem 2rem;

  h3 {
    margin: 1rem 0 2rem 0;
  }

  .btn-green {
    background-color: var(--btn-escuro);
    padding: 0.5rem 1.5rem;
    width: 100%;
    margin-right: 1.5rem;
  }
  .btn-transparent {
    color: var(--btn-txt-verde);
    border: solid 1px var(--btn-txt-verde);
    padding: 0.5rem 1.5rem;
    width: 100%;
  }
}

footer {
  background-color: var(--bg-box);
  padding: 1.5rem;
  text-align: center;

  .logo {
    width: 30vw;
  }

  p,
  a,
  li {
    color: #9ca3af;
  }
  .text-bold {
    color: var(--btn-txt-branco);
  }

  .links {
    margin: 1.5rem 0 1.5rem 0;

    .links-itens {
      list-style: none;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
    .links-social-media {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}

// ===============================================
//Estilização DESKTOP
// ===============================================
@media screen and (min-width: 781px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    gap: 2.1rem;

    .logo {
      max-width: 100%;
      width: 15vw;
    }
    .nav-primary-elements {
      display: flex;
      gap: 2rem;

      .btn-green {
        padding: 1.1rem 2rem;
      }
    }
  }

  header::before {
    top: 3.5rem;
  }

  .first-article {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      font-size: 3.5rem;
    }

    .article-information {
      align-items: start;

      .btn-green {
        padding: 1rem 2rem;
        width: auto;
      }
      .btn-transparent {
        padding: 1rem 2rem;
        width: auto;
        margin-left: 1rem;
      }
    }

    img {
      max-width: 100%;
      justify-self: center;
    }
  }

  .datas {
    display: flex;
    justify-content: space-around;
  }

  .second-article {
    padding: 5rem;

    h3 {
      margin: 2rem 0 4rem 0;
    }
    .tutorial {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .tutorial-steps {
        flex-grow: 1;
        flex-basis: 0;
        .donors,
        .acquirers {
          margin: 0;
          img {
            max-width: 100%;
            width: auto;
          }
        }
        ol {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        li {
          justify-content: start;
        }
      }
    }
  }

  .third-article {
    padding: 5rem;

    h3 {
      margin: 2rem 0 4rem 0;
    }

    .categories {
      display: flex;
      gap: 2rem;
      .categories-types {
        width: 50%;
        img {
          max-width: 100%;
          height: 40vh;
          object-fit: cover;
        }
      }
    }
  }

  .fourth-article {
    padding: 5rem;

    h3 {
      margin: 2rem 0 2rem 0;
    }
    .avaliations {
      padding: 0 2rem;
      display: flex;
      gap: 2rem;

      .avaliations-cards {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;

        img {
          max-width: 10vw;
        }
        div {
          max-width: 5vw;
          display: flex;
        }
      }
    }
  }
  .fifth-article {
    padding: 5rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;

    .links {
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      gap: 5rem;
      text-align: start;
      align-items: start;
      .slogan {
        margin-top: 2rem;
      }
      .links-social-media {
        align-self: flex-start;
      }
      img {
        width: auto;
      }
    }
  }
}
